wMulesoftCode/mulecode/src/main/mule/variables.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cfa99e03-9159-4621-a5f7-0c83f4b0df40" basePath="/api/">
		<http:listener-connection host="0.0.0.0" port="8090" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f5c7f2c4-a8f5-4c21-93cd-83cb4496a62f">
		<http:request-connection host="localhost" port="8091" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="5c13ff0d-d866-4367-a4f4-a36e90fa8a6f" basePath="/">
		<http:listener-connection host="0.0.0.0" port="8091" />
	</http:listener-config>
	<flow name="variablesFlow" doc:id="0bec03b1-f850-45c5-a194-e2f526112391" >
		<http:listener doc:name="variable" doc:id="7d40acf8-8942-479b-9833-740f9f750032" config-ref="HTTP_Listener_config" path="variable"/>
		<set-variable value="#[10]" doc:name="Set Variable" doc:id="e8c2a0fe-c2f4-4ccf-bb7e-71a4a0e1ea88" variableName="variable"/>
		<set-variable value="#[21]" doc:name="Set Variable" doc:id="e479a8a9-531c-4f19-9409-51b669f06657" variableName="variable"/>
		<set-payload value="#[vars.variable as String]" doc:name="Set Payload" doc:id="bb21e163-6774-4b05-896f-059ebdc80957" />
		<logger level="INFO" doc:name="Logger" doc:id="58466d0b-998c-40dc-b2db-16f9528452a5" message='#[{"payload": payload, "variable":vars.variable as String}]'/>
	</flow>
	<flow name="parentFlow" doc:id="3ad8f136-bbd6-423e-9f4e-eb68f3123608" >
		<http:listener doc:name="Listener" doc:id="82e09657-43c9-40ba-a39d-35e92e201f3e" config-ref="HTTP_Listener_config" path="scope"/>
		<set-variable value="#[11]" doc:name="Set Variable" doc:id="d6c11918-3cd0-445c-a16b-b058461083fa" variableName="varParentFlow"/>
		<set-payload value="PARENT" doc:name="PARENT" doc:id="fe5c42f0-2bb1-4c1f-be77-c918e7ce4e86" />
		<logger level="INFO" doc:name="Logger" doc:id="9701ee26-6c1c-4b92-8d5e-2e82b12cda25" message='#[{" Before payload":payload, "vaeriable:": vars.varParentFlow, "attributes": attributes.queryString}]' />
		<flow-ref doc:name="Flow Reference" doc:id="df58a989-c165-4e75-902f-a493dea4c123" name="childFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="b6c25a50-e857-4213-a97e-27c84ac74ae0" message='#[{" After payload":payload, "vaeriable:": vars.varParentFlow, "attributes": attributes.queryString}]'/>
	</flow>
	<flow name="childFlow" doc:id="0b9aa9dc-9555-4cfd-b145-f48ae9be2f04" >
		<logger level="INFO" doc:name="Logger" doc:id="e0aea69d-4150-4c2c-90a5-959b0135eec1" message='#[{" ChildFlow payload":payload, "vaeriable:": vars.varParentFlow, "attributes": attributes.queryString}]'/>
		<set-variable value="#[33]" doc:name="Set Variable" doc:id="aefdb224-34e0-42d0-ba96-8eabb1220e28" variableName="varParentFlow"/>
		<set-payload value='#[payload ++ " CHILD"]' doc:name="Set Payload" doc:id="bb7f662d-05e7-45e4-a655-c0a678823096" />
		<logger level="INFO" doc:name="Logger" doc:id="bc7173a2-8e02-477b-bc01-3e61ae669f8d" message='#[{" End of ChildFlow payload":payload, "vaeriable:": vars.varParentFlow, "attributes": attributes.queryString}]'/>
	</flow>
	<flow name="variablesFlow1" doc:id="0f183e33-6f5c-4b98-ba3a-fc8326554f5e" >
		<http:listener doc:name="Listener" doc:id="bf012ff0-ca0e-44ea-8c76-e82e1be55db3" config-ref="HTTP_Listener_config" path="foreach"/>
		<set-payload value="#[[1,2,3,4,5]]" doc:name="Set Payload" doc:id="af3748a8-610f-4778-a988-56805cfefa59" />
		<set-variable value='var' doc:name="var" doc:id="dabe2723-cbe6-45f0-b8b4-e38a87d2ef60" variableName="variable"/>
		<logger level="INFO" doc:name="Before For each" doc:id="f6981c05-343c-456a-8846-e83b56ad2174" message="#[{&quot;Before For each payload: &quot;: payload, &quot;variable:&quot;: vars.&quot;variable&quot;, 'attribute:': attributes.queryString}]" />
		<foreach doc:name="For Each" doc:id="cc4c27fa-5f40-4f39-a980-73708bdaa57b" >
			<set-variable value='#[vars."variable" ++ (payload as String)]' doc:name="variable ++ payload" doc:id="ce4d4915-e45f-46ee-911c-c7bf85e6396c" variableName="variable"/>
			<set-payload value='#[vars."variable" ++ (payload as String)]' doc:name="payload = variable" doc:id="01610eba-fb82-4c49-b0d8-c7bcbf37fc48" />
			<logger level="INFO" doc:name="variable, payload" doc:id="4bbc654e-e01e-44f7-b58e-8218c3f83dd5" message="#[{&quot;For each. var:&quot;: vars.variable, &quot; payload:&quot;: payload, 'attribute:': attributes.queryString }]"/>
		</foreach>
		<logger level="INFO" doc:name="payload, variable" doc:id="7609cfdb-1aaa-4286-83a1-68299ea7fb82" message="#[{&quot;payload: &quot;: payload, &quot;variable:&quot;: vars.&quot;variable&quot;, 'attribute:': attributes.queryString}]"/>
	</flow>
	<flow name="scopeAfterRequest" doc:id="48e2b58a-7e90-41fb-9679-11412a31ca38" >
		<http:listener doc:name="Listener" doc:id="fc99f42c-0c61-4cae-9d15-ab446fc2427a" config-ref="HTTP_Listener_config" path="scopeRequest"/>
		<set-payload value="Inititial" doc:name="Initial" doc:id="5d346f9d-d903-4f69-bfa1-794deb6e39f0" />
		<set-variable value="1" doc:name="Set Variable" doc:id="324994aa-3efb-4f2d-afc0-cc9cd31c8a20" variableName="variable"/>
		<logger level="INFO" doc:name="Logger" doc:id="edf3623e-1bf2-4e57-a7f6-391919942596" message="#[{&quot;For each. variable:&quot;: vars.variable, &quot; payload:&quot;: payload, 'attribute:': attributes.queryString }]"/>
		<http:request method="GET" doc:name="Request" doc:id="90b132a5-209e-49f8-a639-612750f3d88b" config-ref="HTTP_Request_configuration" path="/internal" responseTimeout="10000">
			<http:query-params ><![CDATA[#[output application/java
---
{
	mycall : 2345
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="757c21a3-809c-4e84-afed-7093e5ccd606" message="#[{&quot;variable:&quot;: vars.variable, &quot; payload:&quot;: payload, 'attribute:': attributes.queryString }]"/>
	</flow>
	<flow name="variablesFlow2" doc:id="951f65e4-9308-4e3a-bf77-3a6e9ba5e917" >
		<http:listener doc:name="internal" doc:id="d839e05c-8a1a-4c0f-b29a-0357dd9d06e1" config-ref="HTTP_Listener_config1" path="internal"/>
		<set-payload value='#[(payload as String) ++ "Internal"]' doc:name="Set Payload" doc:id="4901650a-89d8-4b94-884a-41242c942654" />
		<logger level="INFO" doc:name="Logger" doc:id="08de4ced-28bd-47c9-97f5-6b9bca65990e" message="#[{&quot;internal var:&quot;: vars.variable, &quot; payload:&quot;: payload, 'attribute:': attributes.queryString }]" />
	</flow>
	<flow name="errorTry" doc:id="989c21fb-b844-46bf-acc9-ff8b1115e2b9" >
		<http:listener doc:name="Listener" doc:id="b1f4bb97-1469-4591-8716-1a4291761af2" config-ref="HTTP_Listener_config" path="errorTry"/>
		<set-payload value="INITIAL" doc:name="INITIAL" doc:id="41fd87f4-81ed-48ea-8b16-a8ca5a467c58" />
		<set-variable value="#[attributes.queryParams.'test' as String default '1']" doc:name="Set Variable" doc:id="7fc4fc89-ac64-4528-844c-3152a0a5ad81" variableName="variable"/>
		<choice doc:name="Choice" doc:id="144b4e13-b022-4fd3-b655-75c12a1f4f24" >
			<when expression="#[vars.variable == '1']">
				<set-variable value="HEAVY" doc:name="STRING VALUE" doc:id="e4643c9c-1412-4f15-a4c0-04cb1ec0a49e" variableName="NotNumber"/>
				<try doc:name="Try" doc:id="4c6d6cd9-30f1-41c7-9a8c-98a48e94a232" >
					<logger level="INFO" doc:name="Logger" doc:id="2d9c9479-a007-4941-acd8-80513bd6551d" message='#["vars.notnum" ++ (vars.NotNumber as String)]'/>
					<validation:is-number doc:name="Is number" doc:id="705d5383-0daa-4e29-b34b-4ee092025095" value="#[vars.NotNumber]" numberType="INTEGER" message="Try 1 - Not Integer"/>
					<error-handler >
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1ec770d3-6bd6-4280-8358-720c0fd4dbdb" >
							<set-payload value="ERROR PROPAGATE" doc:name="ERROR PROPAGATE" doc:id="699764c1-b7c4-4a2e-8048-0aa6e6f8a213" />
							<logger level="INFO" doc:name="Logger" doc:id="f14345c0-1c53-4cd4-a117-2d161ff9a4a8" message='#["Try 1, payload" ++ (payload as String)]'/>
						</on-error-propagate>
					</error-handler>
				</try>
			</when>
			<when expression="#[vars.variable == '2']">
				<set-variable value="HEAVY" doc:name="Set Variable" doc:id="ad954d34-1b91-409c-a3b8-d68e6262fe8f" variableName="NotNumber"/>
				<try doc:name="Try" doc:id="cbd0f4ae-d034-4256-96d0-28c818491a15" >
					<logger level="INFO" doc:name="Logger" doc:id="353a8457-d67c-4d93-93c6-b4ee5ccbed7b" message='#["vars.notnum" ++ (vars.NotNumber as String)]'/>
					<validation:is-number doc:name="Is number" doc:id="79f27363-395a-4e2d-b0f6-4ef5823b0b61" value="vars.NotNumber" numberType="INTEGER" message="Try 2 - Not Integer"/>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7177518f-96af-464b-8575-47d55b25af3f" >
							<set-payload value="ERROR CONTINUE" doc:name="ERROR CONTINUE" doc:id="1ee91507-1e4d-4d48-9b6e-f262b0204455" />
							<logger level="INFO" doc:name="Logger" doc:id="5b9f2092-881a-4899-a259-7224b22dcb25" message='"Try 2, payload: " ++ (payload as String)'/>
						</on-error-continue>
					</error-handler>
				</try>
			</when>
			<otherwise >
				<set-payload value="DEFAULT" doc:name="DEFAULT" doc:id="3c25de02-0555-4d20-b892-82ac7233fc17" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4d3b1c2b-d0d9-47db-a436-4b1e1882cd8e" >
				<set-payload value="ON ERROR CONTINUE" doc:name="on error continue" doc:id="b6ad4980-f469-41ac-908b-9f5b64aba712" />
				<logger level="INFO" doc:name="Logger" doc:id="0b4d7772-91ef-4b1b-b260-7921a9b9decb" message='#["Main Error Continue, payload: " ++ (payload as String)]'/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="variablesFlow3" doc:id="4abc38f4-c833-419d-8008-797eaa7dead6" >
		<http:listener doc:name="filelist" doc:id="9c34a90a-bace-40ec-b838-8e97536a3f07" config-ref="HTTP_Listener_config" path="filelist"/>
		<try doc:name="Try" doc:id="2ca345d8-cbb6-4dfb-be93-d43f5c90e96d" >
			<file:create-directory doc:name="Create directory" doc:id="04a6b200-896c-4d86-aab8-8d0ac7ca81a1" directoryPath="${root.directory}" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b4c5648b-3909-45ae-98ec-7f11e38262ea" >
					<logger level="INFO" doc:name="Logger" doc:id="a4a88a55-7159-4647-ac18-334751b0b7c5" message="FAILED TO CREATE DIRECTORY"/>
				</on-error-continue>
			</error-handler>
		</try>
		<set-payload value='#[["A","B"]]' doc:name="Set Payload" doc:id="d32dac43-7cbb-49aa-8fc1-dce24f9c9e00" />
		<set-variable value=' #[ "${root.directory}/file" ++ (random() as String) ++ ".txt"]' doc:name="Set Variable" doc:id="715de075-5b6e-4474-9cbb-c9476bb8468a" variableName="pathFile"/>
		<foreach doc:name="For Each" doc:id="a6f34fca-f3ec-41c4-8a2d-7badb2afb45d" >
			<try doc:name="Try" doc:id="21812346-ff7a-4c25-88bb-226fa950638c" >
				<file:write doc:name="Write" doc:id="4e99ee88-4da8-4115-bda3-ca01d5ce2fd2" path='#[vars.pathFile]'/>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a745f2b6-c6a4-4315-86ef-7005f4602555" >
						<logger level="INFO" doc:name="Logger" doc:id="023feeef-50bf-4797-ac8f-7a74eed701a1" message="ERROR WRITING A FILE"/>
					</on-error-continue>
				</error-handler>
			</try>
		</foreach>
		<file:list doc:name="List" doc:id="7645003b-083b-4732-b4b5-3d196f00c512" directoryPath="${root.directory}"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="3f24f005-7dd4-4d16-87be-ee099fa8f7b3" />
		<logger level="INFO" doc:name="Logger" doc:id="912f3c99-cf00-45e5-b99d-de93102bd05f" message="#[payload]"/>
		<set-payload value="#[payload as String]" doc:name="Set Payload" doc:id="85d0814d-94f3-4fd5-810b-f47c702c9b91" />
	</flow>
</mule>
